<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <img src="https://angular.io/assets/images/logos/angular/angular.png" />
  <div>
    {{ 'greetings.helloWorld' | translate}}
  </div>

  <button (click)="changeLanguage('en')">en</button>
  <br />
  <button (click)="changeLanguage('es')">es</button>
  <br />
  <button (click)="changeLanguage('ja')">ja</button>
  <br />
  <button (click)="changeLanguage('fr')">fr</button>
  <br />
  <button (click)="changeLanguage('ko')">ko</button>

</div>
